<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2103/2103633.png">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
            html,
            body {
                font-family: 'Roboto', sans-serif;
                margin:0;
                padding:0;
                height:100%;
                background-color: #f8e9d0;
            }
            #container {
                min-height:100%;
                position:relative;
            }
            #header {
                background-image: linear-gradient(to bottom right, #24db5c, #188a3d);
                position: fixed;
                right: 0;
                left: 0;
            }
            #under_header {
                height: 56px;
                position: static;
                width: 100%;
            }
            #body {
                padding: 10px;
                background-color: #f8e9d0;
                color: black;

            }
            #footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                text-align: center;
            }
            #under_footer {
                height: 232px;
                bottom: 0;
            }
            #mid-container {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
                padding: 15px;
                width: 500px;
                border: 15px outset #e1b126;
            }
            #mid-container input{
                text-align: center;
            }
            .btn-primary {
                transition-duration: 0.4s;
                background: #9f9d9d;
                border: black;
                color: white;
            }
            .btn-primary:hover {
                background-color: #8c8c8c;
                color: black;
            }
            .alert {
                position: static;
            }
            .bg-primary {
                background-image: linear-gradient(to bottom right, rgb(134, 134, 134) , rgb(134, 134, 134));
            }
            .navbar-light .navbar-brand {
                color: white;
            }
            .navbar-light .navbar-nav .nav-link {
                color: white;
            }
            #advertising {
                left: 0;
                right: 0;
                background-color: #d5d5d5;
                height: 200px;
                text-align: center;
                margin-bottom: 10px;
            }
            .news
            {
                background-color: #d5d5d5;
            }
            .news-bar
            {
                text-align: center;
                padding-top: 10px;
                background-color: #d5d5d5;

            }
            .component-bar-ul
            {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
            .component-bar-li
            {
                float: left;
            }
            a:hover, a:visited, a:link, a:active {
                text-decoration: none;
            }
            .show-car
            {
                left: 0;
                width: 500px;
                text-align: center;
            }
            .show-car-info
            {
                text-align: center;
                width: 500px;
            }

            .center-bar
            {
                text-align: center;
                padding: 15px;
                background-color: #7BA4A8;
            }
            .center-bar-warning
            {
                text-align: center;
                padding: 15px;
                background-image: linear-gradient(to bottom right, rgb(225, 177, 38), rgb(162, 129, 24));;
            }
            .center-bar-test
            {
                text-align: center;
                padding: 15px;
                background-color: #e1b126;
                margin-top: 15px;
                margin-bottom: 15px;
            }
            .center-bar-chat
            {
                text-align: center;
                padding: 15px;
                background-color: #e1b126;
                margin-bottom: 15px;
            }
            .center > img
            {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .card
            {
                color: black;
                position: static;
                padding: 5px;
                border: 10px #e1b126 ridge;
                margin-bottom: 4px;
                background-color: #f8e9d0;
            }
            .center-dedication
            {
                margin: auto;
                width: 50%;
                border: 15px outset #e1b126;
                padding: 10px;
                text-align: center;
                font-family: 'Great Vibes', cursive;
            }
            .code-block {
                text-align: justify;
                background-color: #daccb5;
                padding-left: 10px;
            }
            .status-WAITING {
                color: #b6b601;
            }
            .status-CHECKED {
                color: #b6b601;
            }
            .status-VERIFIED {
                color: limegreen;
            }
            .status-ERROR {
                color: darkred;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
<div id="container">
    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ path('app_home_index') }}">Home</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('app_bfs_algorithm_index') }}">BFS</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('app_dfs_algorithm_index') }}">DFS</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('app_dijkstra_algorithm_index') }}">Dijkstra</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('app_kruskal_algorithm_index') }}">Kruskal</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('app_prim_algorithm_index') }}">Prim</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('app_topological_sorting_algorithm_index') }}">Topological Sorting</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('app_bellman_ford_algorithm_index') }}">Bellman Ford</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('app_floyd_warshall_algorithm_index') }}">Floyd Warshall</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('app_johnson_algorithm_index') }}">Johnson</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('app_fleury_algorithm_index') }}">Fleury</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('app_dashboard_tests') }}">My Tests</a>#}
{#                        </li>#}
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin options
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
{#                                <a class="dropdown-item" href="{{ path('app_dashboard_all_tests') }}">All Tests</a>#}
{#                                <div class="dropdown-divider"></div>#}
                                <a class="dropdown-item" href="{{ path('app_admin') }}">Admin panel</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Sign in</a>
                        </li>
{#                        <li>#}
{#                            <a class="nav-link" href="{{ path('app_register') }}">Sign up !</a>#}
{#                        </li>#}
                    {% endif %}
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <form class="form-inline my-2 my-lg-0" action="{# {{ path('app_search') }} #} ">
                        <input class="form-control mr-sm-2" type="search" id="search-text" required name="search-text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                {% endif %}
            </div>
        </nav>
    </div>

    <div id="under_header">

    </div>

    <div id="body">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}

        {% endblock %}
    </div>
    <div id="under_footer">

    </div>
    <div id="footer">
        <footer class="bg-primary text-white text-center text-lg-start">
            <div class="container p-4">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase">bartosz-lauks-projekt-indywidualny</h5>

                        <p>
                            Platforma przeznaczona do zarządzania biznesem.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled mb-0">
{#                            <li>#}
{#                                <a href="https://www.wozna.org/" target="_blank" class="text-white">Promotor</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="https://www.ujd.edu.pl/" target="_blank" class="text-white">Uczelnia</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="http://www.wnspt.ujd.edu.pl/" target="_blank" class="text-white">Wydział</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="{{ path('app_dedication') }}" class="text-white">Dedykacja</a>#}
{#                            </li>#}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2024 Author:
                <a class="text-white" href="https://mdbootstrap.com/">Bartosz Lauks</a>
            </div>
        </footer>
    </div>
</div>
</body>
</html>